[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytube = "*"
jinja2 = "*"
python-multipart = "*"
youtube-dl = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
