<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        <input type="url" name="url_video" id="url_video" placeholder="Input url of Youtube...">
        <button type="submit" class="btn btn-primary" id="btn_video">Iniciar</button>
    </form>

    {% if format_video %}
        <select name="" id="">
            <option>Item 1</option>
            <option>Item 2</option>
            <option>Item 3</option>
        </select>
    {% endif %}

</body>

</html>